* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
html {
  font-size: clamp(0.875rem, 0.5vw + 0.75rem, 1rem);
}
body {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}
// Colors
$color-dark: #111;
$color-light: #fff;
$color-grey: #f4f4f4;
$color-text: #171a20;
$color-primary: #3e6ae1;
$color-primary-dark: #3457b1;
$btn-bgclr: #f5f5f5;

// Container widths
$max-width: 1200px;

// Font sizes
$fs-xs: 0.75rem;
$fs-sm: 0.875rem;
$fs-sb: 0.9175rem;
$fs-base: 1rem;
$fs-lg: 1.25rem;
$fs-xl: 2rem;

// Spacing
$sp-0: 0.25rem;
$sp-1: 0.5rem;
$sp-2: 1rem;
$sp-2-5: 1.25rem;
$sp-3: 1.5rem;
$sp-4: 2rem;
$sp-5: 3rem;
$sp-6: 4rem;
$sp-7: 4.5rem;

// Breakpoints (Mobile-first)
$bp-sm: 480px; // small phones
$bp-md: 768px; // tablets
$bp-lg: 1024px; // small laptops
$bp-xl: 1280px; // desktops

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
// @mixin container {
//   width: 90%;
//   max-width: $max-width;
//   margin: 0 auto;
// }

header {
  width: 100%;
  nav {
    @include flex-between;
    padding: $sp-2 $sp-5;
    .logo {
      svg {
        width: 7.5rem;
      }
    }
    .links {
      @include flex-center;
      gap: $sp-3;
      a {
        font-size: $fs-sb;
        color: $color-text;
        font-weight: 600;
        transition: color 0.3s ease;
        &:hover {
          color: $color-primary;
        }
      }
    }
    .icons {
      @include flex-center;
      gap: $sp-2;
      svg {
        width: 1.5rem;
        color: $color-text;
        cursor: pointer;
        transition: color 0.3s ease;
        &:hover {
          color: $color-primary;
        }
      }
    }
    button {
      padding: $sp-1 $sp-3;
      background-color: $btn-bgclr;
      color: $color-dark;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: $fs-base;
      transition: background-color 0.3s ease;
      display: none;
      &:hover {
        background-color: $color-dark;
        color: $color-light;
      }
    }
  }
}
