* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

html {
  font-size: clamp(0.875rem, 0.5vw + 0.75rem, 1rem);
}

body {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 60px;
}

header {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 9999;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
}
header nav .logo svg {
  width: 7.5rem;
}
header nav .links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
header nav .links a {
  font-size: 0.9175rem;
  color: #171a20;
  font-weight: 600;
  transition: color 0.3s ease;
}
header nav .links a:hover {
  color: #3e6ae1;
}
header nav .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
header nav .icons svg {
  width: 1.5rem;
  color: #171a20;
  cursor: pointer;
  transition: color 0.3s ease;
}
header nav .icons svg:hover {
  color: #3e6ae1;
}
header nav button {
  padding: 0.5rem 1.5rem;
  background-color: #f5f5f5;
  color: #111;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: background-color 0.3s ease;
  display: none;
}

@media (max-width: 1024px) {
  header nav {
    padding: 0.5rem 1.5rem;
  }
  header nav .logo svg {
    width: 7rem;
  }
  header nav .links {
    display: none;
  }
  header nav .icons {
    display: none;
  }
  header nav button {
    display: block;
  }
}
main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main section {
  width: 100%;
}
main .hero-section {
  height: 72vh;
  padding: 3rem 1.5rem;
  background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Promo-Meet-Model-Y-Desktop.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  text-align: center;
  transition: opacity 0.6s ease-in-out;
  opacity: 1;
}
main .hero-section h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
  transition: all 0.3s linear;
}
main .hero-section .buttons {
  display: flex;
  gap: 0.5rem;
}
main .hero-section .buttons button:nth-child(1) {
  padding: 0.77rem 1.353rem;
  background-color: #3e6ae1;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
main .hero-section .buttons button:nth-child(1):hover {
  background-color: #3457b1;
}
main .hero-section .buttons button:nth-child(2) {
  padding: 0.77rem 1.353rem;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 4px;
  color: #111;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
main .hero-section .buttons button:nth-child(2):hover {
  background-color: rgb(255, 255, 255);
}
main .section2 .wrapper {
  width: 100%;
  display: flex;
  gap: 2rem;
  overflow: auto;
}
main .section2 .wrapper .card {
  padding: 1.5rem 1.25rem;
  display: flex;
  gap: 17rem;
  flex-shrink: 0;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  background-size: cover;
  background-position: 55% 38%;
  background-repeat: no-repeat;
}
main .section2 .wrapper .card h3 {
  color: #fff;
  font-size: 1.25rem;
  width: 20.5rem;
}
main .section2 .wrapper .card .bottom {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}
main .section2 .wrapper .card .bottom .text {
  display: flex;
  flex-direction: column;
}
main .section2 .wrapper .card .bottom .text h4 {
  font-size: 3rem;
  color: #f4f4f4;
}
main .section2 .wrapper .card .bottom .text a {
  font-size: 1.25rem;
  color: #f4f4f4;
  -webkit-text-decoration: white underline;
          text-decoration: white underline;
  font-weight: 500;
}
main .section2 .wrapper .card .bottom .buttons {
  display: flex;
  gap: 0.5rem;
}
main .section2 .wrapper .card .bottom .buttons button:nth-child(1) {
  padding: 0.77rem 2.2rem;
  background-color: #3e6ae1;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
main .section2 .wrapper .card .bottom .buttons button:nth-child(1):hover {
  background-color: #3457b1;
}
main .section2 .wrapper .card .bottom .buttons button:nth-child(2) {
  padding: 0.77rem 2.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 4px;
  color: #111;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
main .section2 .wrapper .card .bottom .buttons button:nth-child(2):hover {
  background-color: rgb(255, 255, 255);
}
main .section2 .wrapper .card:nth-child(1) {
  background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Card-Model-3-Mobile-US-v2.jpg);
}
main .section2 .wrapper .card:nth-child(2) {
  background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Card-Model-Y-Mobile-US-v2.jpg);
}
main .section2 .wrapper .card:nth-child(3) {
  background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Promo-Cybertruck-Mobile-US-v2.jpg);
}
main .section2 .wrapper .card:nth-child(4) {
  background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Card-Model-S-Desktop-US-v3.jpg);
}
main .section2 .wrapper::-webkit-scrollbar {
  display: none;
}
main .section3 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .section3 .box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow: hidden;
  background-color: #f5f5f5;
  padding: 0 1rem 1rem 1rem;
}
main .section3 .box img {
  width: 100%;
  height: 13rem;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}
main .section3 .box .bottom {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}
main .section3 .box .bottom h3 {
  font-size: 2rem;
  font-weight: 500;
}
main .section3 .box .bottom p {
  opacity: 0.888;
  font-size: 1.25rem;
}
main .section3 .box .bottom button {
  padding: 0.5rem 0;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  opacity: 0.888;
}
main .section4 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.6rem;
}
main .section4 .video-div {
  position: relative;
  width: 100%;
  height: 500px;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
}
main .section4 .video-div .vid {
  width: 100%;
  height: 100%;
}
main .section4 .video-div .vid video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  border-radius: 12px;
}
main .section4 .video-div .text {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  color: white;
  /* Bottom Left Text & Buttons */
}
main .section4 .video-div .text .icon {
  align-self: flex-end;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
}
main .section4 .video-div .text .bottom h3 {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}
main .section4 .video-div .text .bottom .buttons {
  display: flex;
  gap: 1rem;
}
main .section4 .video-div .text .bottom .buttons button {
  padding: 0.8rem 1.6rem;
  font-size: 1rem;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  border: none;
}
main .section4 .video-div .text .bottom .buttons button:first-child {
  background: #3b82f6;
  color: white;
}
main .section4 .video-div .text .bottom .buttons button:last-child {
  background: white;
  color: black;
}
main .section4 .image-div {
  width: 100%;
  height: 500px;
  background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Features-Mobile.png);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1rem;
  border-radius: 12px;
  overflow: hidden;
}
main .section4 .image-div h3 {
  font-size: 2.4rem;
  color: #fff;
  font-weight: 600;
  margin-bottom: 1.2rem;
}
main .section4 .image-div button {
  padding: 0.8rem 1.6rem;
  font-size: 1rem;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  background: #3b82f6;
  color: white;
  align-self: flex-start;
}

@media (min-width: 375px) {
  main .section2 .wrapper .card:nth-child(1) {
    margin-left: 1.1rem;
  }
}
@media (min-width: 480px) {
  main .hero-section h2 {
    font-size: 3rem;
  }
  main .hero-section .buttons {
    gap: 1rem;
  }
  main .hero-section .buttons button:nth-child(1),
  main .hero-section .buttons button:nth-child(2) {
    padding: 0.5rem 4rem;
    font-size: 1.25rem;
  }
}
@media (max-width: 600px) {
  body {
    padding-top: 0px;
  }
  header {
    position: absolute;
    z-index: 9999;
    background: transparent;
  }
  header .logo svg {
    color: #fff;
  }
  header nav button {
    color: #fff;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
  main .hero-section {
    padding-top: 4.5rem;
  }
}
@media (min-width: 600px) {
  main .section2 .wrapper .card:nth-child(1) {
    margin-left: 0;
  }
  main .section2 .wrapper .card h3 {
    width: 37.5rem;
  }
  main .section3 {
    flex-direction: row;
    padding: 0 1.5rem 1.5rem 1.5rem;
  }
  main .section3 .box {
    padding: 0.5rem;
    width: 50%;
    border-radius: 15px;
  }
  main .section3 .box img {
    display: none;
  }
  main .section3 .box .bottom {
    width: 100%;
    gap: 0.5rem;
  }
  main .section3 .box .bottom h3 {
    font-size: 2rem;
  }
  main .section3 .box .bottom p {
    font-size: 1rem;
    font-weight: 600;
    opacity: 0.777;
  }
}
@media (min-width: 768px) {
  main .section2 .wrapper {
    gap: 1rem;
  }
  main .section2 .wrapper .card {
    gap: 25rem;
  }
  main .section2 .wrapper .card h3 {
    width: 40rem;
  }
  main .section2 .wrapper .card:nth-child(1) {
    margin-left: 1.5rem;
  }
  main .section4 .image-div {
    background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Features-Desktop.png);
  }
}
@media (min-width: 1024px) {
  header nav {
    padding: 1rem 3rem;
  }
  main .section2 .wrapper .card .bottom .text h4 {
    width: 50rem;
  }
  main .section2 .wrapper .card:nth-child(1) {
    margin-left: 3rem;
  }
  main .section3 {
    padding: 1rem 3rem;
  }
  main .section4 {
    padding: 0.5rem 3rem;
  }
}
@media (min-width: 1280px) {
  main .section3 .box {
    flex-direction: row;
  }
  main .section3 .box img {
    display: block;
    border-radius: 0px;
    height: 15rem;
    width: 50%;
    order: 2;
  }
  main .section3 .box .bottom h3 {
    font-size: 2.214rem;
  }
  main .section3 .box .bottom p {
    font-size: 1.214rem;
  }
  main .section4 {
    height: 470px;
    flex-direction: row;
  }
  main .section4 .video-div {
    width: 68%;
  }
  main .section4 .image-div {
    width: 32%;
  }
}/*# sourceMappingURL=style.css.map */