* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
html {
  font-size: clamp(0.875rem, 0.5vw + 0.75rem, 1rem);
}
body {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 60px;
}

// body {
//   scroll-behavior: smooth;
//   scrollbar-width: thin;
//   scrollbar-color: #6b7280 #e5e7eb; // thumb | track
// }

// body::-webkit-scrollbar {
//   width: 6px;
//   height: 6px;
// }

// body::-webkit-scrollbar-track {
//   background: #e5e7eb;
// }

// body::-webkit-scrollbar-thumb {
//   background: #6b7280;
//   border-radius: 10px;
// }

// body::-webkit-scrollbar-thumb:hover {
//   background: #4b5563; /* slightly darker on hover */
// }

// Colors
$color-dark: #111;
$color-light: #fff;
$color-grey: #f4f4f4;
$color-text: #171a20;
$color-primary: #3e6ae1;
$color-primary-dark: #3457b1;
$btn-bgclr: #f5f5f5;

// Container widths

// Font sizes
$fs-xs: 0.75rem;
$fs-sm: 0.875rem;
$fs-sb: 0.9175rem;
$fs-base: 1rem;
$fs-lg: 1.25rem;
$fs-xl: 2rem;
$fs-2xl: 3rem;
$fs-3xl: 4rem;

// Spacing
$sp-0: 0.25rem;
$sp-1: 0.5rem;
$sp-2: 1rem;
$sp-2-5: 1.25rem;
$sp-3: 1.5rem;
$sp-4: 2rem;
$sp-5: 3rem;
$sp-6: 4rem;
$sp-7: 4.5rem;
$sp-8: 5rem;
$sp-9: 6rem;

// Breakpoints (Mobile-first)
$bp-exs: 320px; // extra small phones
$bp-sm: 480px; // small phones
$bp-hmd: 600px; // wide  phones
$bp-md: 768px; // tablets
$bp-lg: 1024px; // small laptops
$bp-xl: 1280px; // desktops

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 9999;

  nav {
    @include flex-between;
    padding: $sp-2 $sp-5;
    .logo {
      svg {
        width: 7.5rem;
      }
    }
    .links {
      @include flex-center;
      gap: $sp-3;

      a {
        font-size: $fs-sb;
        color: $color-text;
        font-weight: 600;
        transition: color 0.3s ease;
        &:hover {
          color: $color-primary;
        }
      }
    }
    .icons {
      @include flex-center;
      gap: $sp-2;
      svg {
        width: 1.5rem;
        color: $color-text;
        cursor: pointer;
        transition: color 0.3s ease;
        &:hover {
          color: $color-primary;
        }
      }
    }
    button {
      padding: $sp-1 $sp-3;
      background-color: $btn-bgclr;
      color: $color-dark;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: $fs-base;
      font-weight: 600;
      transition: background-color 0.3s ease;
      display: none;
    }
  }
}
// small laptops and below
@media (max-width: $bp-lg) {
  header nav {
    padding: $sp-1 $sp-3;
  }
  header nav .logo svg {
    width: 7rem;
  }
  header nav .links {
    display: none;
  }
  header nav .icons {
    display: none;
  }
  header nav button {
    display: block;
  }
}
main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  section {
    width: 100%;
  }
  .hero-section {
    height: 72vh;
    padding: $sp-5 $sp-3;
    background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Promo-Meet-Model-Y-Desktop.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $color-light;
    text-align: center;
    transition: opacity 0.6s ease-in-out;
    opacity: 1;

    h2 {
      font-size: 3rem;
      margin-bottom: $sp-4;
      transition: all 0.3s linear;
    }

    .buttons {
      display: flex;
      gap: $sp-1;
      button:nth-child(1) {
        padding: 0.77rem 1.353rem;
        background-color: $color-primary;
        border: none;
        border-radius: 4px;
        color: $color-light;
        font-weight: 500;
        font-size: $fs-base;
        cursor: pointer;
        transition: background-color 0.3s ease;
        &:hover {
          background-color: $color-primary-dark;
        }
      }
      button:nth-child(2) {
        padding: 0.77rem 1.353rem;
        background-color: rgb(255, 255, 255);
        border: none;
        border-radius: 4px;
        color: $color-dark;
        font-size: $fs-base;
        font-weight: 500;
        cursor: pointer;
        transition: background-color 0.3s ease;
        &:hover {
          background-color: rgba(255, 255, 255, 1);
        }
      }
    }
  }
  .section2 {
    .wrapper {
      width: 100%;
      display: flex;
      gap: 2rem;
      overflow: auto;

      .card {
        padding: $sp-3 $sp-2-5;
        display: flex;
        gap: 17rem;
        flex-shrink: 0;
        flex-direction: column;
        border-radius: 8px;
        overflow: hidden;
        background-size: cover;
        background-position: calc(50% + 5%) calc(50% - 12%);
        background-repeat: no-repeat;

        h3 {
          color: $color-light;
          font-size: $fs-lg;
          width: 20.5rem;
        }
        .bottom {
          display: flex;
          flex-direction: column;
          gap: 1.3rem;
          .text {
            display: flex;
            flex-direction: column;
            h4 {
              font-size: $fs-2xl;
              color: $color-grey;
            }
            a {
              font-size: $fs-lg;
              color: $color-grey;
              text-decoration: white underline;
              font-weight: 500;
            }
          }
          .buttons {
            display: flex;
            gap: $sp-1;
            button:nth-child(1) {
              padding: 0.77rem 2.2rem;
              background-color: $color-primary;
              border: none;
              border-radius: 4px;
              color: $color-light;
              font-weight: 500;
              font-size: $fs-base;
              cursor: pointer;
              transition: background-color 0.3s ease;
              &:hover {
                background-color: $color-primary-dark;
              }
            }
            button:nth-child(2) {
              padding: 0.77rem 2.2rem;
              background-color: rgb(255, 255, 255);
              border: none;
              border-radius: 4px;
              color: $color-dark;
              font-size: $fs-base;
              font-weight: 500;
              cursor: pointer;
              transition: background-color 0.3s ease;
              &:hover {
                background-color: rgba(255, 255, 255, 1);
              }
            }
          }
        }
      }
      .card:nth-child(1) {
        background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Card-Model-3-Mobile-US-v2.jpg);
      }
      .card:nth-child(2) {
        background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Card-Model-Y-Mobile-US-v2.jpg);
      }
      .card:nth-child(3) {
        background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Promo-Cybertruck-Mobile-US-v2.jpg);
      }
      .card:nth-child(4) {
        background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Card-Model-S-Desktop-US-v3.jpg);
      }
    }
    .wrapper::-webkit-scrollbar {
      display: none;
    }
  }
  .section3 {
    display: flex;
    flex-direction: column;
    gap: $sp-2;
    .box {
      display: flex;
      flex-direction: column;
      gap: $sp-4;
      overflow: hidden;
      background-color: #f5f5f5;
      padding: 0 $sp-2 $sp-2 $sp-2;

      img {
        width: 100%;
        height: 13rem;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;

        object-fit: cover;
      }
      .bottom {
        display: flex;
        flex-direction: column;
        padding: $sp-2;
        gap: 1rem;

        h3 {
          font-size: $fs-xl;
          font-weight: 500;
        }
        p {
          opacity: 0.888;
          font-size: $fs-lg;
        }
        button {
          padding: $sp-1 0;
          border-radius: 5px;
          border: none;
          outline: none;
          background-color: #fff;
          font-size: $fs-lg;
          font-weight: 600;
          opacity: 0.888;
        }
      }
    }
  }
  .section4 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 1rem;
    .video-div {
      position: relative;
      width: 100%;
      height: 500px;
      border-radius: 12px;
      overflow: hidden;
      cursor: pointer;

      .vid {
        width: 100%;
        height: 100%;

        video {
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: block;
          border-radius: 12px;
        }
      }

      .text {
        position: absolute;
        inset: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: $sp-2;
        color: white;

        .icon {
          align-self: flex-end;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background: rgba(0, 0, 0, 0.4);
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.6rem;
        }

        /* Bottom Left Text & Buttons */
        .bottom {
          h3 {
            font-size: 2.4rem;
            font-weight: 600;
            margin-bottom: 1.2rem;
          }

          .buttons {
            display: flex;
            gap: 1rem;

            button {
              padding: 0.8rem 1.6rem;
              font-size: 1rem;
              border-radius: 6px;
              font-weight: 500;
              cursor: pointer;
              border: none;

              &:first-child {
                background: #3b82f6; // Tesla blue
                color: white;
              }

              &:last-child {
                background: white;
                color: black;
              }
            }
          }
        }
      }
    }
    .image-div {
      width: 100%;
      height: 500px;
      background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Features-Mobile.png);
      background-size: cover;
      background-position: center;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: $sp-2;
      border-radius: 12px;
      overflow: hidden;
      h3 {
        font-size: 2.4rem;
        color: #fff;
        font-weight: 600;
        margin-bottom: 1.2rem;
      }
      button {
        padding: 0.8rem 1.6rem;
        font-size: 1rem;
        border-radius: 6px;
        font-weight: 500;
        cursor: pointer;
        border: none;
        background: #3b82f6; // Tesla blue
        color: white;
        align-self: flex-start;
      }
    }
  }
  .section5 {
    width: 100%;
    height: 500px;

    .container {
      position: relative;
      height: 100%;
      width: 100%;
      background-image: url(https://i.pinimg.com/1200x/f0/30/af/f030af121912314f35e007a156628c08.jpg);
      background-size: cover;
      background-position: center;

      .bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        padding: 8px 14px;
        border-radius: 6px;
        display: flex;
        align-items: center;
        gap: 18px;
        cursor: pointer;
        font-family: Arial, sans-serif;
        z-index: 10;

        p {
          display: flex;
          align-items: center;
          font-size: $fs-lg;
          color: #333;
          padding: 0 1rem;
          border-radius: 5px;
          background-color: #f5f5f5;

          i {
            font-size: $fs-lg;
          }
        }

        i {
          font-size: 18px;
          display: inline-block;
          transform: rotate(45deg);
          color: #555;
          background-color: #f5f5f5;
          padding: 0.8rem;
          border-radius: 50%;
        }

        &:hover {
          background: #f8f8f8;
        }

        &:active {
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
        }
      }
    }
  }
}
@media (min-width: 375px) {
  main .section2 .wrapper .card:nth-child(1) {
    margin-left: 1.1rem;
  }
}
// 480px and above
@media (min-width: $bp-sm) {
  main .hero-section {
    h2 {
      font-size: $fs-2xl;
    }
    .buttons {
      gap: $sp-2;
      button:nth-child(1),
      button:nth-child(2) {
        padding: $sp-1 $sp-6;
        font-size: $fs-lg;
      }
    }
  }
}
//below 600px
@media (max-width: $bp-hmd) {
  body {
    padding-top: 0px;
  }
  header {
    position: absolute;
    z-index: 9999;
    background: transparent;
    .logo {
      svg {
        color: #fff;
      }
    }
    nav button {
      color: #fff;
      background: rgba(255, 255, 255, 0.15);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
    }
  }
  main {
    .hero-section {
      padding-top: $sp-7;
    }
  }
}
//600px and above
@media (min-width: $bp-hmd) {
  main .section2 .wrapper .card:nth-child(1) {
    margin-left: 0;
  }
  main .section2 {
    .wrapper .card {
      h3 {
        width: 37.5rem;
      }
    }
  }
  main .section3 {
    flex-direction: row;
    padding: 0 $sp-3 $sp-3 $sp-3;
    .box {
      padding: $sp-1;
      width: 50%;
      border-radius: 15px;

      img {
        display: none;
      }
      .bottom {
        width: 100%;
        gap: 0.5rem;
        h3 {
          font-size: 2rem;
        }
        p {
          font-size: 1rem;
          font-weight: 600;
          opacity: 0.777;
        }
      }
    }
  }
  main .section5 {
    padding: $sp-2;
    .container {
      border-radius: 15px;
    }
  }
}
//768px and above
@media (min-width: $bp-md) {
  main .section2 .wrapper {
    gap: 1rem;
    .card {
      gap: 25rem;
      h3 {
        width: 40rem;
      }
    }
  }
  main .section2 .wrapper .card:nth-child(1) {
    margin-left: 1.5rem;
  }
  main .section4 {
    .image-div {
      background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Features-Desktop.png);
    }
  }
}

//1024px and above
@media (min-width: $bp-lg) {
  header nav {
    padding: $sp-2 $sp-5;
  }

  main {
    .section2 {
      .wrapper {
        .card {
          .bottom .text h4 {
            width: 50rem;
          }
        }
        .card:nth-child(1) {
          margin-left: $sp-5;
        }
      }
    }
    .section3 {
      padding: $sp-2 $sp-5;
    }
    .section4 {
      padding: $sp-1 $sp-5;
    }
    .section5 {
      margin-top: $sp-7;
      padding: $sp-1 $sp-5;
    }
  }
}
//1280px and above
@media (min-width: $bp-xl) {
  main .section3 {
    .box {
      flex-direction: row;
      img {
        display: block;
        border-radius: 0px;
        height: 15rem;
        width: 50%;
        order: 2;
      }
      .bottom {
        h3 {
          font-size: 2.214rem;
        }
        p {
          font-size: 1.214rem;
        }
      }
    }
  }
  main .section4 {
    height: 470px;
    flex-direction: row;
    .video-div {
      width: 68%;
    }
    .image-div {
      width: 32%;
    }
  }
}
